<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td style="background:lightpink"><%= blog.title %></td>
    <td style="background:lightgrey"><%= blog.content %></td>
    <td><%= link_to '投稿確認', blog_path(blog.id) %></td>
  </tr>
<% end %>
</table>
<p><%= link_to '新しくブログを投稿する', new_blog_path %></p>